pkgbase = yt-pplayer
	pkgdesc = YouTube Playlist Player for the terminal: your playlists, ad-free, via yt-dlp and mpv
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/bh808303/yt-pplayer
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-rich
	depends = python-textual
	depends = python-secretstorage
	depends = yt-dlp
	depends = mpv
	depends = ffmpeg
	optdepends = mpv-mpris: media keys and desktop media widgets
	optdepends = jq: for yt-pplayer-toggle (show/hide on Hyprland / Omarchy)
	source = yt-pplayer-0.1.3.tar.gz::https://github.com/bh808303/yt-pplayer/archive/refs/tags/v0.1.3.tar.gz
	sha256sums = 46599c9ca6ab84f1e0242cc4667773371575447f0657feaa217cab553d4d12f7

pkgname = yt-pplayer
